<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">LUNA MINI</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="mini">
                <span class="bi" aria-hidden="true"></span> Luna Mini
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="letterhead">
                <span class="bi" aria-hidden="true"></span> Letterhead
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="hexicon">
                <span class="bi bi-hexagon-fill-nav-menu" aria-hidden="true"></span> Hexicon
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="cryptini">
                <span class="bi bi-question-square-fill-nav-menu" aria-hidden="true"></span> Cryptini
            </NavLink>
        </div>

        <div role="separator" class="dropdown-divider my-2"></div>

        <div class="nav-item px-3">
            <a class="nav-link"
               href="https://tally.so/r/3j1g9E"
               target="_blank"
               rel="noopener noreferrer">
                Feedback form
            </a>
        </div>

        <div class="nav-item px-3">
            <a class="nav-link"
               href="https://ko-fi.com/veradisluna"
               target="_blank"
               rel="noopener noreferrer">
                Support me on Ko-Fi
            </a>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
